In [1]:
import pandas as pd
import os
import sys
from pathlib import Path
from datetime import datetime

project_dir = Path('__main__').resolve().parents[1]

In [4]:
df = pd.read_csv(os.path.join(project_dir, 'data', 'stress', 'response.txt'), delimiter=';', )

In [6]:
for col in df.columns[1:]:
    df[col] = df[col].apply(lambda x: datetime.strptime(x.replace("'", ""), '%Y-%m-%d%H:%M:%S.%f'))

In [17]:
col_anterior = None
for col in df.columns[1:]:
    if col_anterior is not None:
        df[f'diff_{col}'] = (df[col] - df[col_anterior]).dt.total_seconds() * 100
    col_anterior = col

In [18]:
df.head()

,worker,time_init,time_1,time_2,time_3,time_4,time_5,time_6,time_7,time_end,diff_time_1,diff_time_2,diff_time_3,diff_time_4,diff_time_5,diff_time_6,diff_time_7,diff_time_end
0,0,2024-07-26 09:15:31.878366,2024-07-26 09:15:31.878389,2024-07-26 09:15:31.886546,2024-07-26 09:15:31.886672,2024-07-26 09:15:31.890045,2024-07-26 09:15:31.893273,2024-07-26 09:15:31.893370,2024-07-26 09:15:31.897755,2024-07-26 09:15:31.897781,0.0023,0.8157,0.0126,0.3373,0.3228,0.0097,0.4385,0.0026
1,0,2024-07-26 09:15:31.897981,2024-07-26 09:15:31.897985,2024-07-26 09:15:31.899196,2024-07-26 09:15:31.899290,2024-07-26 09:15:31.900639,2024-07-26 09:15:31.902751,2024-07-26 09:15:31.902794,2024-07-26 09:15:31.905024,2024-07-26 09:15:31.905060,0.0004,0.1211,0.0094,0.1349,0.2112,0.0043,0.2230,0.0036
2,0,2024-07-26 09:15:31.905309,2024-07-26 09:15:31.905315,2024-07-26 09:15:31.906365,2024-07-26 09:15:31.906488,2024-07-26 09:15:31.907781,2024-07-26 09:15:31.909669,2024-07-26 09:15:31.909710,2024-07-26 09:15:31.911964,2024-07-26 09:15:31.911981,0.0006,0.1050,0.0123,0.1293,0.1888,0.0041,0.2254,0.0017
3,0,2024-07-26 09:15:31.912155,2024-07-26 09:15:31.912158,2024-07-26 09:15:31.912975,2024-07-26 09:15:31.913059,2024-07-26 09:15:31.913827,2024-07-26 09:15:31.915998,2024-07-26 09:15:31.916061,2024-07-26 09:15:31.918043,2024-07-26 09:15:31.918061,0.0003,0.0817,0.0084,0.0768,0.2171,0.0063,0.1982,0.0018
4,0,2024-07-26 09:15:31.918266,2024-07-26 09:15:31.918269,2024-07-26 09:15:31.919068,2024-07-26 09:15:31.919161,2024-07-26 09:15:31.919935,2024-07-26 09:15:31.921443,2024-07-26 09:15:31.921483,2024-07-26 09:15:31.923270,2024-07-26 09:15:31.923288,0.0003,0.0799,0.0093,0.0774,0.1508,0.0040,0.1787,0.0018